<h1>About Me</h1>
<p>My name is Leah.</p>
<p>I am from Seattle but have been living in Berlin for 6 years.</p>
<br><p>I love <b>nature</b> and exploring the nearby <b>lakes.</b></p>
<p>
It's a pleasure to share my favorite lakes with you!</p>
